rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /addresses/{document=**} {
      allow read 
      allow write
    }
  }
}
